<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <div class="container">
            <form action="/submit" method="post">
                <div class="box">
                    <img src="{{ img1 }}" alt="Image 1" onclick="submit();">
                    <input type="hidden" name="first" value="{{ img1 }}" readonly>
                    <input type="hidden" name="second" value="{{ img2 }}" readonly>
                    <input type="hidden" name="timestamp" value="{{ timestamp }}" readonly>
                </div>
            </form>
            <form action="/submit" method="post">
                <div class="box">
                    <img src="{{ img2 }}" alt="Image 2" onclick="submit();">
                    <input type="hidden" name="first" value="{{ img2 }}" readonly>
                    <input type="hidden" name="second" value="{{ img1 }}" readonly>
                    <input type="hidden" name="timestamp" value="{{ timestamp }}" readonly>
                </div>
            </form>
        </div>
        <script src="/static/script.js"></script>
    </body>
</html>
